@tailwind base;
@tailwind components;
@tailwind utilities;

.domino-half {
  display: flex;
  justify-content: center;
  padding: 4px;
}

.domino-divider {
  font-size: 24px;
  font-weight: bold;
  margin: 4px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
  margin: 2px;
  display: inline-block;
}